/*
 *         ___                                   ___
 *        /  /\          ___       ___          /__/|
 *       /  /:/_        /  /\     /  /\        |  |:|
 *      /  /:/ /\      /  /:/    /  /:/        |  |:|
 *     /  /:/ /::\    /  /:/    /__/::\      __|__|:|
 *    /__/:/ /:/\:\  /  /::\    \__\/\:\__  /__/::::\____
 *    \  \:\/:/~/:/ /__/:/\:\      \  \:\/\    ~\~~\::::/
 *     \  \::/ /:/  \__\/  \:\      \__\::/     |~~|:|~~
 *      \__\/ /:/        \  \:\     /__/:/      |  |:|
 *        /__/:/          \__\/     \__\/       |  |:|
 *        \__\/                                 |__|/
 *  _____ _                    ___            _____
 * |_   _| |_ ___ _____ ___   |  _|___ ___   |     |___ ___
 *   | | |   | -_|     | -_|  |  _| . |  _|  |  |  |  _| . |
 *   |_| |_|_|___|_|_|_|___|  |_| |___|_|    |_____|_| |_  |
 *                                                     |___|
 *
 * ---------------------------------------------------------
 *
 *
 * STIX Theme for Org
 * ==================
 *
 * Scientific and Technical Information Exchange theme for Org HTML
 * Exporter.
 *
 * MIT license by @haltingproblems
 * https://github.com/eddieh/stix-org
 */


/* CSS Variables */

:root {
    --bg-color: #fff;
    --title-color: #333;
    --txt-color: #444;
    --mono-color: #111;
    --heading-fonts: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --body-fonts: STIXGeneral, "Times New Roman", serif;
    --mono-fonts: "DejaVu Sans Mono", Menlo, Monaco, monospace;
}


/* Dev helpers */

/* Temporary border */
.tmpb {
    border: 1px solid gray;
}


/* Browser Reset */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}


/* Fonts */

html {
  font-size: 14pt;
  line-height: 1.5;
}

body {
    font-family: var(--body-fonts);
    color: var(--txt-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-fonts);
}

tt, code, kbd, samp,
pre, xmp, plaintext, listing {
    font-family: var(--mono-fonts);
    font-size: 12pt;
    color: var(--mono-color);
}


/* Links */



/* Content width */

#content {
    max-width: 700px;
    margin: 0 auto;
}


/* Page Header */

header {
    padding: 1em 0 0;
}

.title {
    color: var(--title-color);
    margin: 0;
}

.subtitle {
    margin: 0;
}


/* TOC */

#table-of-contents {
    margin-top: 2em;
}

#table-of-contents h1 {
    margin: 0;
    padding: 0;
}

#text-table-of-contents ul {
    list-style: none;
}

#text-table-of-contents > ul {
    padding: 0;
}

ol ul, ul ol, ul ul, ol ol {
    padding-left: 1em;
}
