/*
 *         ___                                   ___
 *        /  /\          ___       ___          /__/|
 *       /  /:/_        /  /\     /  /\        |  |:|
 *      /  /:/ /\      /  /:/    /  /:/        |  |:|
 *     /  /:/ /::\    /  /:/    /__/::\      __|__|:|
 *    /__/:/ /:/\:\  /  /::\    \__\/\:\__  /__/::::\____
 *    \  \:\/:/~/:/ /__/:/\:\      \  \:\/\    ~\~~\::::/
 *     \  \::/ /:/  \__\/  \:\      \__\::/     |~~|:|~~
 *      \__\/ /:/        \  \:\     /__/:/      |  |:|
 *        /__/:/          \__\/     \__\/       |  |:|
 *        \__\/                                 |__|/
 *  _____ _                    ___            _____
 * |_   _| |_ ___ _____ ___   |  _|___ ___   |     |___ ___
 *   | | |   | -_|     | -_|  |  _| . |  _|  |  |  |  _| . |
 *   |_| |_|_|___|_|_|_|___|  |_| |___|_|    |_____|_| |_  |
 *                                                     |___|
 *
 * ---------------------------------------------------------
 *
 *
 * STIX Theme for Org
 * ==================
 *
 * Scientific and Technical Information Exchange theme for Org HTML
 * Exporter.
 *
 * MIT license by @haltingproblems
 * https://github.com/eddieh/stix-org
 */


/* Browser Reset */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}
